*.cs linguist-detectable=true
*.asax linguist-detectable=false
*.asp linguist-detectable=false
*.ashx linguist-detectable=false
*.asmx linguist-detectable=false
*.aspx linguist-detectable=false
*.axd linguist-detectable=false
*.shader linguist-detectable=false
*.hlsl linguist-detectable=false
*.cginc linguist-detectable=false
*.fx linguist-detectable=false
*.fxh linguist-detectable=false
*.hlsli linguist-detectable=false
*.mathematica linguist-detectable=false
*.cdf linguist-detectable=false
*.m linguist-detectable=false
 /*- ".cdf"
  - ".m"
  - ".ma"
  - ".mt"
  - ".nb"
  - ".nbp"
  - ".wl"
  - ".wlt"*/
